---
title: Equals operator in JavaScript
description: The equals operator converts data types before comparing values. Check the comparison table to see the results!
base_url: ../
meta_image: ../downloads/table-equals.jpg
---


<div class="content">
    <div class="inner-container">

        <h2>Equals operator: <code>==</code></h2>

        <p>
            The equals operator uses the <a href="http://www.ecma-international.org/ecma-262/5.1/#sec-11.9.3" title="ECMAScript Specification: Abstract Equality Comparison Algorithm" rel="external">
            Abstract Equality Comparison Algorithm</a> to compare two values. The algorithm specifies, how values of different types are converted before comparing them.
        </p>

        <div class="comparison-table" data-comparator="==" data-caption="Equal operator: comparison table">
            <h5>Comparison Table: Equal operator</h5>
            <noscript>Please activate JavaScript to see the comparison table!</noscript>
        </div>

        <div class="share">
            <a href="https://twitter.com/intent/tweet?url={{ encodeURI site.url}}equals-operator/&via={{ site.twitterSite }}&hashtags=javascript" class="twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
        </div>

    </div>
</div>

{{> cta-cheatsheet }}

{{> cta-hire }}

