---
title: Quiz
base_url: ../
---

<div class="content content-intro">
    <div class="inner-container">

        <h2>
            <i class="fa fa-wrench fa-2x"></i><br />
            Coming soon!
        </h2>

        <a href="{{ base_url }}" title="JavaScript: Truth and equality" class="btn">Back to home</a>

    </div>
</div>