---
title: Strict equals operator in JavaScript
description: If the types of the compared values differ, the result of the strict comparison is always false.
base_url: ../
meta_image: downloads/table-strictequals.jpg
---


<div class="content">
    <div class="inner-container">

        <h2>Strict equals operator: <code>===</code></h2>

        <p>
            The strict equals operator uses the <a href="http://www.ecma-international.org/ecma-262/5.1/#sec-11.9.6" title="ECMAScript Specification: Strict Equality Comparison Algorithm" rel="external">
            Strict Equality Comparison Algorithm</a>. If the types of the compared values differ, the result of the comparison is always false.
        </p>

        <div class="comparison-table" data-comparator="===" data-caption="Strict equal operator: comparison table">
            <h5>Comparison Table: Strict equal operator</h5>
            <noscript>Please activate JavaScript to see the omparison table!</noscript>
        </div>

        <div class="share">
            <a href="https://twitter.com/intent/tweet?url={{ encodeURI site.url}}strict-equals-operator/&via={{ site.twitterSite }}&hashtags=javascript" class="twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
        </div>

    </div>
</div>

{{> cta-cheatsheet }}

{{> cta-hire }}

