---
title: Truthy and falsy values in JavaScript
base_url: ../
---

{{> cta-quiz }}

<div class="content">
    <div class="inner-container">

    <h2>Truthy and falsy values in JavaScript</h2>

    <p>
        In JavaScript there are the two boolean values "<code>true</code>" and "<code>false</code>". But you can use any other data type as a condition.
        These data types have an implicitly assigned boolean value and are considered either <strong class="kw">"truthy"</strong> or <strong class="kw">"falsy"</strong>.
    </p>

    <h3>Falsy values</h3>

    <p>The following values are considered "falsy":</p>

    <ul>
        <li><code>false</code></li>
        <li><code>0</code></li>
        <li><code>""</code></li>
        <li><code>null</code></li>
        <li><code>undefined</code></li>
        <li><code>NaN</code></li>
    </ul>

    <h3>Truthy values</h3>

    <p>All other values are considered "truthy". For example:</p>

    <ul>
        <li><code>true</code></li>
        <li>non-zero numbers</li>
        <li>non-empty strings (e.g. <code>"abc"</code>, <code>"0"</code>, <code>"false"</code>, ...)</li>
        <li>functions</li>
        <li>(empty) arrays</li>
        <li>(empty) objects</li>
    </ul>

    </div>
</div>