<div class="content content-hire noprint">
    <div class="inner-container">
        <h2>
            <i class="fa fa-briefcase fa-2x"></i><br />
            Interested in developing 3rd party JavaScripts?
        </h2>

        <p>
            We are looking for JavaScript developers in Karlsruhe, Germany.<br />
            We develop 3rd party JavaScript components, which are then integrated into several websites.
        </p>

        <a href="http://www.united-internet.de/jobs-karriere/offene-stellen/stellenangebot/job/ka-sst140702.html" title="Job description (german)" rel="external" class="btn">Find out more!</a>

        <p>
            More interested in PHP?<br />
            <a href="http://www.united-internet.de/jobs-karriere/offene-stellen/stellenangebot/job/ka-sst140701.html" title="Job description (german)" rel="external">We are looking for PHP developers, too!</a>
        </p>

    </div>
</div>