<div class="content content-cheatsheet">
    <div class="inner-container">

        <h2>
            <i class="fa fa-cloud-download fa-2x"></i><br />
            Download the cheatsheet
        </h2>

        <p>
            Download the comparison overview as printable PDF
        </p>

        <a href="{{ base_url }}downloads/cheatsheet-equality.pdf" title="Download" class="btn" rel="download">Download</a>


    </div>
</div>