<div class="content content-learn">
    <div class="inner-container">

        <h2>
            <i class="fa fa-graduation-cap fa-2x"></i><br />
            The JavaScript type system is quite hard to understand.
        </h2>

        <p>
            Do you know the difference between equals operator <code>==</code> and <em>strict</em> equals operator <code>===</code>?<br />
            Do you know "truthy" and "falsy" values?
        </p>

        <a href="{{ base_url }}" title="Learn more!" class="btn">Learn more!</a>


    </div>
</div>