<footer>
    <div class="inner-container">
        Made with <i class="fa fa-heart"><span>love</span></i> by <a href="http://www.sebastianstoehr.de/" title="Sebastian Stöhr" rel="author external">Sebastian Stöhr</a> &ndash;
        <a href="http://www.sebastianstoehr.de/impressum/" title="Impressum" rel="external">Impressum</a>
    </div>
</footer>