<title>{{ title }} &mdash; {{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ assets }}/styles/main.min.css" />